{
  "openapi": "3.0.3",
  "info": {
    "title": "plane3 API",
    "description": "REST API for managing projects, models, generation jobs, renders, and webhooks in plane3.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://placeholder.plane3.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Returns a paginated list of all projects accessible to the authenticated user.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of projects to return (1-100).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination. Use the value from `next_cursor` in the previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether there are more results available."
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor to use for the next page of results."
                    }
                  },
                  "required": ["data", "has_more"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create project",
        "description": "Creates a new project. A default board is automatically created inside the project.",
        "tags": ["Projects"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the project.",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description of the project.",
                    "maxLength": 1000
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The newly created project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project",
        "description": "Returns a single project by ID.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The project ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List models",
        "description": "Returns a paginated list of 3D models. Optionally filter by project.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Filter models by project ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of models to return (1-100).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of models.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Model"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": ["data", "has_more"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/models/{id}": {
      "get": {
        "operationId": "getModel",
        "summary": "Get model",
        "description": "Returns a single 3D model by ID, including its metadata and download URL.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The model ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteModel",
        "summary": "Delete model",
        "description": "Permanently deletes a 3D model and its associated files.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The model ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The model was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/generations": {
      "post": {
        "operationId": "createGeneration",
        "summary": "Create generation job",
        "description": "Starts a new AI generation job. The job runs asynchronously -- poll the generation status endpoint to check progress.",
        "tags": ["Generation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string",
                    "description": "The project to create the model in."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text description of the 3D model to generate.",
                    "minLength": 1,
                    "maxLength": 2000
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of a reference image for image-to-3D generation. Provide either `prompt` or `image_url`, not both."
                  },
                  "service": {
                    "type": "string",
                    "enum": ["hunyuan3d", "trellis", "triposr", "meshy5"],
                    "description": "The AI service to use for generation.",
                    "default": "hunyuan3d"
                  }
                },
                "required": ["project_id"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The generation job was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/generations/{id}": {
      "get": {
        "operationId": "getGeneration",
        "summary": "Get generation status",
        "description": "Returns the current status of a generation job. Poll this endpoint until `status` is `completed` or `failed`.",
        "tags": ["Generation"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The generation job ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The generation job status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/renders": {
      "post": {
        "operationId": "createRender",
        "summary": "Create render job",
        "description": "Starts a new path tracer render job for a model. The job runs asynchronously -- poll the render status endpoint to check progress.",
        "tags": ["Rendering"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model_id": {
                    "type": "string",
                    "description": "The ID of the model to render."
                  },
                  "quality": {
                    "type": "string",
                    "enum": ["draft", "medium", "high", "ultra"],
                    "description": "Render quality preset.",
                    "default": "high"
                  },
                  "environment": {
                    "type": "string",
                    "enum": ["studio", "outdoor", "overcast"],
                    "description": "HDRI environment preset.",
                    "default": "studio"
                  },
                  "camera": {
                    "type": "object",
                    "description": "Camera settings for the render.",
                    "properties": {
                      "focal_length": {
                        "type": "number",
                        "description": "Camera focal length in millimeters.",
                        "default": 50
                      },
                      "azimuth": {
                        "type": "number",
                        "description": "Camera azimuth angle in degrees (0-360).",
                        "default": 0
                      },
                      "elevation": {
                        "type": "number",
                        "description": "Camera elevation angle in degrees (-90 to 90).",
                        "default": 30
                      },
                      "depth_of_field": {
                        "type": "boolean",
                        "description": "Enable depth of field.",
                        "default": false
                      },
                      "f_stop": {
                        "type": "number",
                        "description": "F-stop value for depth of field (1.4 to 22).",
                        "default": 5.6
                      }
                    }
                  }
                },
                "required": ["model_id"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The render job was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Render"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/renders/{id}": {
      "get": {
        "operationId": "getRender",
        "summary": "Get render status",
        "description": "Returns the current status of a render job. When `status` is `completed`, the `output_url` field contains a download link for the rendered image.",
        "tags": ["Rendering"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The render job ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The render job status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Render"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Returns all webhooks configured for the authenticated user.",
        "tags": ["Webhooks"],
        "responses": {
          "200": {
            "description": "A list of webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook",
        "description": "Creates a new webhook that sends event notifications to the specified URL.",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to send webhook events to. Must be HTTPS."
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "generation.completed",
                        "generation.failed",
                        "render.completed",
                        "render.failed",
                        "model.created",
                        "model.deleted"
                      ]
                    },
                    "description": "List of event types to subscribe to."
                  },
                  "secret": {
                    "type": "string",
                    "description": "A secret string used to sign webhook payloads for verification.",
                    "minLength": 16,
                    "maxLength": 255
                  }
                },
                "required": ["url", "events"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The newly created webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication. Generate keys at Settings > API keys in the plane3 app."
      }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique project identifier.",
            "example": "proj_abc123"
          },
          "name": {
            "type": "string",
            "description": "Name of the project.",
            "example": "My first project"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Optional project description.",
            "example": "Game asset library for the RPG project"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the project was created.",
            "example": "2025-01-15T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the project was last updated.",
            "example": "2025-01-15T10:30:00Z"
          }
        },
        "required": ["id", "name", "created_at", "updated_at"]
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique model identifier.",
            "example": "mdl_xyz789"
          },
          "project_id": {
            "type": "string",
            "description": "The project this model belongs to.",
            "example": "proj_abc123"
          },
          "name": {
            "type": "string",
            "description": "Name of the model.",
            "example": "Medieval treasure chest"
          },
          "prompt": {
            "type": "string",
            "nullable": true,
            "description": "The text prompt used to generate this model, if applicable.",
            "example": "medieval treasure chest with iron bands"
          },
          "service": {
            "type": "string",
            "nullable": true,
            "description": "The AI service used to generate this model.",
            "example": "hunyuan3d"
          },
          "file_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to download the model file (GLB format).",
            "example": "https://placeholder.plane3.com/files/mdl_xyz789.glb"
          },
          "thumbnail_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL of the model thumbnail image.",
            "example": "https://placeholder.plane3.com/thumbnails/mdl_xyz789.png"
          },
          "polygon_count": {
            "type": "integer",
            "nullable": true,
            "description": "Number of polygons in the model.",
            "example": 12500
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the model was created.",
            "example": "2025-01-15T11:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the model was last updated.",
            "example": "2025-01-15T11:05:00Z"
          }
        },
        "required": ["id", "project_id", "name", "file_url", "created_at", "updated_at"]
      },
      "Generation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique generation job identifier.",
            "example": "gen_def456"
          },
          "project_id": {
            "type": "string",
            "description": "The project this generation belongs to.",
            "example": "proj_abc123"
          },
          "prompt": {
            "type": "string",
            "nullable": true,
            "description": "The text prompt for generation.",
            "example": "a fantasy potion bottle with a cork stopper"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The reference image URL for image-to-3D generation."
          },
          "service": {
            "type": "string",
            "description": "The AI service used.",
            "example": "hunyuan3d"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"],
            "description": "Current status of the generation job.",
            "example": "completed"
          },
          "model_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the generated model. Only present when `status` is `completed`.",
            "example": "mdl_xyz789"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "description": "Error details if the generation failed.",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the generation job was created.",
            "example": "2025-01-15T11:00:00Z"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the generation job completed.",
            "example": "2025-01-15T11:01:30Z"
          }
        },
        "required": ["id", "project_id", "service", "status", "created_at"]
      },
      "Render": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique render job identifier.",
            "example": "rnd_ghi012"
          },
          "model_id": {
            "type": "string",
            "description": "The model being rendered.",
            "example": "mdl_xyz789"
          },
          "quality": {
            "type": "string",
            "enum": ["draft", "medium", "high", "ultra"],
            "description": "The quality preset used.",
            "example": "high"
          },
          "environment": {
            "type": "string",
            "enum": ["studio", "outdoor", "overcast"],
            "description": "The HDRI environment preset used.",
            "example": "studio"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"],
            "description": "Current status of the render job.",
            "example": "completed"
          },
          "output_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to download the rendered image. Only present when `status` is `completed`.",
            "example": "https://placeholder.plane3.com/renders/rnd_ghi012.png"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "description": "Error details if the render failed.",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the render job was created.",
            "example": "2025-01-15T12:00:00Z"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the render job completed.",
            "example": "2025-01-15T12:02:00Z"
          }
        },
        "required": ["id", "model_id", "quality", "environment", "status", "created_at"]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique webhook identifier.",
            "example": "whk_jkl345"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL that receives webhook events.",
            "example": "https://example.com/webhooks/plane3"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "generation.completed",
                "generation.failed",
                "render.completed",
                "render.failed",
                "model.created",
                "model.deleted"
              ]
            },
            "description": "The event types this webhook is subscribed to.",
            "example": ["generation.completed", "generation.failed"]
          },
          "active": {
            "type": "boolean",
            "description": "Whether the webhook is currently active.",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the webhook was created.",
            "example": "2025-01-15T13:00:00Z"
          }
        },
        "required": ["id", "url", "events", "active", "created_at"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code.",
                "example": "not_found"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message.",
                "example": "The requested resource was not found."
              }
            },
            "required": ["code", "message"]
          }
        },
        "required": ["error"]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request body is malformed or missing required fields.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The API key is missing, invalid, or expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "The resource already exists.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "The request contains validation errors.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
